
<!DOCTYPE html!>
<html>
  <head>
    <title>Slay the Spire: exported cards</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 80%;
      }
    </style>
  </head>
  <body>
    <h1>Slay the Spire export</h1>
    <ul>
    {% for color in colors %}
      <li><a href="{{color}}/cardlist.html">{{capitalize(lower(color))}} cards</a></li>
    {% endfor %}
      <li><a href="creatures.html">Creatures</a></li>
    </ul>
    Note: All images, card data, etc. are copyright by MegaCrit.
  </body>
</html>