<!DOCTYPE html!>
<html>
  <head>
    <title>Keywords</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body>
    <h1>Keywords</h1>
    {% include 'classpath:fragments/keywords.html.twig' %}
  </body>
</html>