<!DOCTYPE html!>
<html>
  <head>
    <title>Potions</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body>
    <h1>Potions</h1>
    <table class="sortable">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Rarity</th>
        <th>Description</th>
      </tr>
      {% for potion in potions %}
      <tr>
        <td>{{ potion.name }}</td>
        <td><img src="{{ potion.relImage }}"></td>
        <td>{{ potion.rarity }}</td>
        <td>{{ potion.descriptionHTML }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>